{% extends 'core/base.html' %}
{% load static %}


{% block title %}Password Reset Complete{% endblock title %}


{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{request.user}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3 class="alert alert-success">Password Reset Completed</h3>
                <div>
                    <iframe src="https://giphy.com/embed/o75ajIFH0QnQC3nCeD" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <a href="{% url 'profile' %}"><input class="btn btn-sm btn-info" type="button" value="Go to Profile"></a>
            </div>
{% endblock %}