{% extends 'core/base.html' %}
{% load static %}


{% block title %}Reset Password Done{% endblock title %}


{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{request.user}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h4 class="alert alert-success mb-4">Password Reset application is successfully sent.</h4>
                <div>
                    <p>A Password Reset Application is sent to your email account. Please follows the prescribed instruction to reset your Shopping World account password. Thank you!!</p>
                </div>
                <a href="{% url 'profile' %}"><input class="btn btn-sm btn-info" type="button" value="Go to Profile"></a>
            </div>
{% endblock %}